@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br /><hr /><br />
<h4 style="font:bold;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">PERSONAL DATA PRIVACY NOTICE TO BETTERFURNITURE CUSTOMERS AND GUESTS</h4>
<p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font:200">
    Dear valued BETTERFURNITURE customers and guests,
    <br /><br />
    This privacy notice for personal data (“Personal Data Privacy Notice”) is issued to all our valued customers and guests of BetterFurniture Sdn Bhd, pursuant to the statutory requirements of the Personal Data Protection Act 2010 (“PDPA”).
    <br /><br />
    During your course of dealing with us, we will collect but not process your personal data. Thus, we will not suggest the products based on your personnal favours.
    <br /><br />

    We will not disclose any of your personal data to any third party without your consent except to BETTERFURNITURE and our related corporations and affiliates, our vendors, our suppliers, our joint venture/business partners, our appointed agents and/or our service providers, within or outside Malaysia, where necessary, that provide related products and/or services in connection with our business, any party who undertakes to keep your personal data confidential, any person as set out in our Personal Data Privacy Policy, or to whom we are compelled or required under the law to disclose to. In this regard, please note that we may be transferring your personal data outside of Malaysia to our central customer data storage and processing servers located overseas and share your personal data with our related corporations for such Purposes.
    <br /><br />
    Since we do not process your personal data, we will not be able to effectively provide products and/or services to you
    <br /><br />
    We are committed to ensuring that your personal data is stored securely. You have the right to request for access to, request for a copy of, request to update or correct your personal data held by us.
</p>
