/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif
}
.actions {
    display: flex;
    flex-direction: column;
    gap:2px;
}
.actions a{
    text-align:center;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;*/
}
/*furniture image*/

.furniture-image {
    max-width: 500px; /* or any desired width */
    max-height: 500px; /* or any desired height */

}

.carousel {
    position: relative;
    width: 500px; /* or any desired width */
    height: 500px; /* or any desired height */
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    width: auto;
    top:50%;
    padding-top: 0;
    margin-top: -22px;
    color:darkred;
    font-size: 36px;
    background-color:black;
    max-block-size:50px;
}

.carousel-control-prev {
    left: auto;
}

.carousel-control-next {
    right: 0;
}
.carousel-inner{ /* or any desired width */
    margin: auto;
    position:center;
}

.out-of-stock-button{
    color:red;
}



/*home.index*/
/*.container{
    position:relative;
    display:flex;
    padding:80px 40px;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:80px;
}

.card{
    position:relative;
    width:350px;
    height:180px;
    background:#fff;
    transition:0.5s;
}

.card:hover{
    height:450px;
}

.card .lines{
    position:absolute;
    inset:0;
    background:#000;
    overflow:hidden;
}
.card .lines::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 50%;
    width: 600px;
    height: 120px;
    transform: translate(-50%,50%);
    background: linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
    animation: home 4s linear infinite;
    animation-play-state: paused;
}
.card:hover .lines::before {
        animation-play-state: running;
}
@keyframes home{
    0%
    {
        transform: translate(-50%,50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,50%) rotate(360deg);
    }
}
.card .lines::after {
    content: '';
    position: absolute;
    inset:3px;
    background:#292929;
}
.card .imgBx{
    position:absolute;
    top:-60px;
    left:50%;
    width:150px;
    height:150px;
    transform:translateX(-50%);
    background:#000;
    transition:0.5s;
    z-index:10;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card:hover .imgBx{
    top:25px;
    width:200px;
    height:200px;
}
.card .imgBx::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%,50%);
    background: linear-gradient(transparent,#ff3c7b,#ff3c7b,#ff3c7b,transparent);
    animation: home2 6s linear infinite;
    animation-play-state:paused;
}
.card:hover .imgBx::before{
    animation-play-state:running;
}
@keyframes home2{
    0% {
        transform: translate(-50%,50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%,50%) rotate(0deg);
    }
}
.card .imgBx:after{
    content:'';
    position:absolute;
    inset:3px;
    background:#292929;
}
.card .imgBx:after img{
    position:absolute;
    z-index:1;
    filter:invert(1);*/ /*这个可以不要 因为是家具*/
    /*opacity:0.5;
    transition:0.5s;
}
.card:hover .imgBx img{
    opacity:1;
}
.card .content{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    overflow:hidden;
}
.card .content .details{
    padding:30px 20px;
    text-align:center;
    width:100%;
    transition:0.5s;
    transform:translateY(145px);
}
.card:hover .content .details{
    transform: translateY(0px);
}
.card .content .details h2{
    font-size:1.5em;
    font-weight:500;
    color:#45f3ff;
    line-height:1.2m;
}
.card .content .details p{
    color:#fff;
    opacity:0;
    transition:0.5s;
}

.card .content .details button{
    display:inline-block;
    padding:8px 15px;
    background:#45f3ff;
    color:#292929;
    margin-top:10px;
    font-weight:500;
    text-decoration:none;
    opacity:0;
    transition:0.5s;
}
.card:hover .content .details button,
.card:hover .content .details p {
    opacity:1;
}*/